{% extends 'base.html' %}
{% block content %}
{%if home%}
        <div class="container mt-2">
        <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mt-4">
        <div class="card mt-auto mb-auto" >
    <h5 class="text-center card-title mt-2"><strong>{{home.name|title}} home</strong></h5>
    {%if home.picture%}
          <img class="rounded-circle  d-block mx-auto" height='250px' width='250px' src="{{ home.picture.url }}">
         {% endif%}
            <div class="card-body">
              <p class="float-left"><b>Admin  :</b> {{home.admin.name}}</p>
              <p class="float-right"><i class="fas fa-map-marker-alt"></i> : {{home.location}}</p><br>
              <p class="text-center"><b> Emergency Service contacts</b></p>
              <hr>
              <p class="float-left ml-5"><b> Police  :</b> {{home.police_contact}}</p>
              <p class="float-right mr-5"><b> Health  :</b> {{home.health_contact}}</p>
             <br>
                          
              <p class="float-right"><a href="{% url 'business' home.id%}" class="badge badge-info">View Business</a></p>
            </div>
          </div>
       
           
        </div>
        <div class="col-md-1"></div>
    </div>

</div>
       </div>
{%else%}
<h3 class="text-center" style="color: red;">You don't belong to any neighbourhood!!! <a href="{%url 'index' %}">Join Now</a></h3> 
       
{% endif %}
{% endblock %}